<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="confidence-hint" id="confidence_level_required">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What’s the piece of evidence you collect?</h1>
          </legend>
          <div>
            <p>Some pieces of evidence are 'stronger' than others, which means they will be harder to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>forge</li>
              <li>counterfeit</li>
            </ul>
            <p>How strong the evidence is depends on:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>what security features are on it (for example a hologram or an electronic chip)</li>
              <li>what information it has</li>
              <li>how the person proved their identity to get the evidence</li>
            </ul>
            <p>The stronger the evidence is, the higher its score will be. The highest score you can get for this check is 4.</p>
            <p>You must check and score one piece of evidence at a time.</p>
            <p>If you collect different combinations of evidence, you should check and score one combination at a time.</p>
          </div>
          <p class="govuk-hint">
            Select one option.
          </p>

          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <% evidence_group = @form.lists['evidence_group'] %>
            <% evidence_type = @form.lists['evidence_type'] %>

            <%= render 'shared/radio_item', list: evidence_group, item: evidence_group.items['passport'], attributes: { 'data-aria-controls' => "conditional-choose_evidence_passport" }%>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose_evidence_passport">
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['passport_uk'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['passport_icao'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['passport_biometric'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['passport_us'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['passport_document'] %>
            </div>

            <%= render 'shared/radio_item', list: evidence_group, item: evidence_group.items['driving_licence'], attributes: { 'data-aria-controls' => "conditional-choose_evidence_driving_licence" } %>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose_evidence_driving_licence">
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['driving_licence_uk_photocard'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['driving_licence_eea'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['driving_licence_tachograph'] %>
            </div>

            <%= render 'shared/radio_item', list: evidence_group, item: evidence_group.items['id_card'], attributes: { 'data-aria-controls' => "conditional-choose_evidence_id_card" } %>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose_evidence_id_card">
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['id_card_forces'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['id_card_residence_permit'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['id_card_eea_non_biometric'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['id_card_eea_biometric'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['id_card_proof_of_age_no_reference_number'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['id_card_proof_of_age_with_reference_number'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['id_card_ni_electoral'] %>
            </div>

            <%= render 'shared/radio_item', list: evidence_group, item: evidence_group.items['account'], attributes: { 'data-aria-controls' => "conditional-choose_evidence_account" } %>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose_evidence_account">
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_utility_bill'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_student_loan'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_bank'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_credit'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_mortgage'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_loan'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_insurance'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['account_rental'] %>
            </div>

            <%= render 'shared/radio_item', list: evidence_group, item: evidence_group.items['certificate'], attributes: { 'data-aria-controls' => "conditional-choose_evidence_certificate" } %>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose_evidence_certificate">
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['certificate_birth'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['certificate_marriage'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['certificate_education'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['certificate_firearm'] %>
            </div>

            <%= render 'shared/radio_item', list: evidence_group, item: evidence_group.items['local_authority_doc'], attributes: { 'data-aria-controls' => "conditional-choose_evidence_local_authority_doc" } %>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose_evidence_local_authority_doc">
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['local_authority_doc_bus_pass'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['local_authority_doc_freedom_pass'] %>
              <%= render 'shared/radio_item', list: evidence_type, item: evidence_type.items['local_authority_doc_letter'] %>
            </div>

            <p> or <p>

            <%= render 'shared/radio_item', list: evidence_group, item: evidence_group.items['other'], attributes: { 'data-aria-controls' => "conditional-choose_evidence_other" } %>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose_evidence_other">
              <%= render 'shared/text_field_item', list: evidence_type, item: evidence_type.items['other'] %>
            </div>
          
          </div>
          <p>You'll usually need to be more confident if your service gives users something valuable, like money or benefits. This is because your service is more likely to be targeted by users pretending to be someone they're not to get something they shouldn't.</p>
        </fieldset>

        <%= submit_tag("Continue", class: "govuk-button") %>
      </div>
    <% end %>
  </div>
</div>