<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag("#{request.fullpath}", method: "post") do %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <div class="govuk-caption-l">Verification checks</div >
            <h1 class="govuk-fieldset__heading">Do you ask multiple or single choice KBV questions?</h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <%= render 'shared/radio_item', name: :kbv_multiple_or_single, item: @form.lists['kbv_multiple_or_single'].items['multiple'], attributes: { 'data-aria-controls' => "conditional-kbv_how_many_checks_multiple" }%>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-kbv_how_many_checks_multiple">
              <% @form.lists['kbv_how_many_checks_multiple'].items.each do |key, item| %>
                <%= render 'shared/radio_item', name: :kbv_how_many_checks_multiple, item: item %>
              <% end %>
            </div>
            <%= render 'shared/radio_item', name: :kbv_multiple_or_single, item: @form.lists['kbv_multiple_or_single'].items['single'], attributes: { 'data-aria-controls' => "conditional-kbv_how_many_checks_single" }%>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-kbv_how_many_checks_single">
              <% @form.lists['kbv_how_many_checks_single'].items.each do |key, item| %>
                <%= render 'shared/radio_item', name: :kbv_how_many_checks_single, item: item %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>
      <%= submit_tag("Continue", class: "govuk-button") %>
    <% end %>
  </div>
</div>